In [1]:
#importing the libraries
import numpy as np
import pandas as pd

In [4]:
#importing the data as a Pandas DataFrame
#India Air Quality Data
dataset = pd.read_csv('C:\\Users\\sahil\\Downloads\\data.csv', encoding="ISO-8859-1")

C:\Users\sahil\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
dataset

,stn_code,sampling_date,state,location,agency,type,so2,no2,rspm,spm,location_monitoring_station,pm2_5,date
0,150,February - M021990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",4.8,17.4,NaN,NaN,NaN,NaN,1990-02-01
1,151,February - M021990,Andhra Pradesh,Hyderabad,NaN,Industrial Area,3.1,7.0,NaN,NaN,NaN,NaN,1990-02-01
2,152,February - M021990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",6.2,28.5,NaN,NaN,NaN,NaN,1990-02-01
3,150,March - M031990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",6.3,14.7,NaN,NaN,NaN,NaN,1990-03-01
4,151,March - M031990,Andhra Pradesh,Hyderabad,NaN,Industrial Area,4.7,7.5,NaN,NaN,NaN,NaN,1990-03-01
5,152,March - M031990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",6.4,25.7,NaN,NaN,NaN,NaN,1990-03-01
6,150,April - M041990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",5.4,17.1,NaN,NaN,NaN,NaN,1990-04-01
7,151,April - M041990,Andhra Pradesh,Hyderabad,NaN,Industrial Area,4.7,8.7,NaN,NaN,NaN,NaN,1990-04-01
8,152,April - M041990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",4.2,23.0,NaN,NaN,NaN,NaN,1990-04-01
9,151,May - M051990,Andhra Pradesh,Hyderabad,NaN,Industrial Area,4.0,8.9,NaN,NaN,NaN,NaN,1990-05-01
10,152,May - M051990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",3.6,18.6,NaN,NaN,NaN,NaN,1990-05-01
11,150,June - M061990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",3.9,14.1,NaN,133.0,NaN,NaN,1990-06-01
12,151,June - M061990,Andhra Pradesh,Hyderabad,NaN,Industrial Area,5.6,11.8,NaN,82.0,NaN,NaN,1990-06-01
13,152,June - M061990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",3.3,19.3,NaN,111.0,NaN,NaN,1990-06-01
14,150,July - M071990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",3.9,8.2,NaN,118.0,NaN,NaN,1990-07-01
15,152,July - M071990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",3.5,12.1,NaN,135.0,NaN,NaN,1990-07-01
16,151,July - M071990,Andhra Pradesh,Hyderabad,NaN,Industrial Area,7.9,10.2,NaN,80.0,NaN,NaN,1990-07-01
17,150,August - M081990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",4.0,9.9,NaN,179.0,NaN,NaN,1990-08-01
18,151,August - M081990,Andhra Pradesh,Hyderabad,NaN,Industrial Area,12.4,11.5,NaN,58.0,NaN,NaN,1990-08-01
19,152,August - M081990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",4.0,12.3,NaN,99.0,NaN,NaN,1990-08-01
20,150,September - M091990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",6.3,11.5,NaN,270.0,NaN,NaN,1990-09-01
21,151,September - M091990,Andhra Pradesh,Hyderabad,NaN,Industrial Area,44.8,13.7,NaN,97.0,NaN,NaN,1990-09-01
22,152,September - M091990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",8.1,17.8,NaN,167.0,NaN,NaN,1990-09-01
23,150,October - M101990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",7.7,11.3,NaN,145.0,NaN,NaN,1990-10-01
24,151,October - M101990,Andhra Pradesh,Hyderabad,NaN,Industrial Area,20.6,13.6,NaN,75.0,NaN,NaN,1990-10-01
25,152,October - M101990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",20.4,27.5,NaN,212.0,NaN,NaN,1990-10-01
26,150,November - M111990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",13.9,7.2,NaN,93.0,NaN,NaN,1990-11-01
27,151,November - M111990,Andhra Pradesh,Hyderabad,NaN,Industrial Area,11.2,18.6,NaN,61.0,NaN,NaN,1990-11-01
28,152,November - M111990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",22.3,35.9,NaN,255.0,NaN,NaN,1990-11-01
29,152,January - M011991,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",24.5,28.0,NaN,197.0,NaN,NaN,1991-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...
435712,SAMP,29-09-15,West Bengal,ULUBERIA,West Bengal State Pollution Control Board,RIRUO,12.0,38.0,103.0,NaN,"Inside Rampal Industries,ULUBERIA",NaN,2015-09-29
435713,SAMP,03-10-15,West Bengal,ULUBERIA,West Bengal State Pollution Control Board,RIRUO,14.0,36.0,113.0,NaN,"Inside Rampal Industries,ULUBERIA",NaN,2015-10-03
435714,SAMP,08-10-15,West Bengal,ULUBERIA,West Bengal State Pollution Control Board,RIRUO,20.0,41.0,131.0,NaN,"Inside Rampal Industries,ULUBERIA",NaN,2015-10-08
435715,SAMP,11-10-15,West Bengal,ULUBERIA,West Bengal State Pollution Control Board,RIRUO,10.0,38.0,88.0,NaN,"Inside Rampal Industries,ULUBERIA",NaN,2015-10-11
435716,SAMP,13-10-15,West Bengal,ULUBERIA,West Bengal State Pollution Control Board,RIRUO,12.0,40.0,116.0,NaN,"Inside Rampal Industries,ULUBERIA",NaN,2015-10-13
435717,SAMP,17-10-15,West Bengal,ULUBERIA,West Bengal State Pollution Control Board,RIRUO,21.0,52.0,134.0,NaN,"Inside Rampal Industries,ULUBERIA",NaN,2015-10-17
435718,SAMP,19-10-15,West Bengal,ULUBERIA,West Bengal State Pollution Control Board,RIRUO,21.0,49.0,178.0,NaN,"Inside Rampal Industries,ULUBERIA",NaN,2015-10-19
435719,SAMP,23-10-15,West Bengal,ULUBERIA,West Bengal State Pollution Control Board,RIRUO,18.0,47.0,138.0,NaN,"Inside Rampal Industries,ULUBERIA",NaN,2015-10-23
435720,SAMP,28-10-15,West Bengal,ULUBERIA,West Bengal State Pollution Control Board,RIRUO,19.0,45.0,126.0,NaN,"Inside Rampal Industries,ULUBERIA",NaN,2015-10-28
435721,SAMP,31-10-15,West Bengal,ULUBERIA,West Bengal State Pollution Control Board,RIRUO,11.0,34.0,90.0,NaN,"Inside Rampal Industries,ULUBERIA",NaN,2015-10-31
435722,SAMP,05-11-15,West Bengal,ULUBERIA,West Bengal State Pollution Control Board,RIRUO,16.0,40.0,135.0,NaN,"Inside Rampal Industries,ULUBERIA",NaN,2015-11-05
435723,SAMP,07-11-15,West Bengal,ULUBERIA,West Bengal State Pollution Control Board,RIRUO,15.0,37.0,136.0,NaN,"Inside Rampal Industries,ULUBERIA",NaN,2015-11-07
435724,SAMP,10-11-15,West Bengal,ULUBERIA,West Bengal State Pollution Control Board,RIRUO,22.0,67.0,202.0,NaN,"Inside Rampal Industries,ULUBERIA",NaN,2015-11-10
435725,SAMP,11-11-15,West Bengal,ULUBERIA,West Bengal State Pollution Control Board,RIRUO,20.0,64.0,181.0,NaN,"Inside Rampal Industries,ULUBERIA",NaN,2015-11-11
435726,SAMP,16-11-15,West Bengal,ULUBERIA,West Bengal State Pollution Control Board,RIRUO,14.0,42.0,95.0,NaN,"Inside Rampal Industries,ULUBERIA",NaN,2015-11-16
435727,SAMP,20-11-15,West Bengal,ULUBERIA,West Bengal State Pollution Control Board,RIRUO,11.0,34.0,118.0,NaN,"Inside Rampal Industries,ULUBERIA",NaN,2015-11-20
435728,SAMP,26-11-15,West Bengal,ULUBERIA,West Bengal State Pollution Control Board,RIRUO,17.0,43.0,144.0,NaN,"Inside Rampal Industries,ULUBERIA",NaN,2015-11-26
435729,SAMP,29-11-15,West Bengal,ULUBERIA,West Bengal State Pollution Control Board,RIRUO,19.0,49.0,140.0,NaN,"Inside Rampal Industries,ULUBERIA",NaN,2015-11-29
435730,SAMP,03-12-15,West Bengal,ULUBERIA,West Bengal State Pollution Control Board,RIRUO,18.0,41.0,142.0,NaN,"Inside Rampal Industries,ULUBERIA",NaN,2015-12-03
435731,SAMP,06-12-15,West Bengal,ULUBERIA,West Bengal State Pollution Control Board,RIRUO,22.0,58.0,155.0,NaN,"Inside Rampal Industries,ULUBERIA",NaN,2015-12-06
435732,SAMP,09-12-15,West Bengal,ULUBERIA,West Bengal State Pollution Control Board,RIRUO,22.0,50.0,145.0,NaN,"Inside Rampal Industries,ULUBERIA",NaN,2015-12-09
435733,SAMP,12-12-15,West Bengal,ULUBERIA,West Bengal State Pollution Control Board,RIRUO,34.0,61.0,161.0,NaN,"Inside Rampal Industries,ULUBERIA",NaN,2015-12-12
435734,SAMP,15-12-15,West Bengal,ULUBERIA,West Bengal State Pollution Control Board,RIRUO,20.0,44.0,148.0,NaN,"Inside Rampal Industries,ULUBERIA",NaN,2015-12-15
435735,SAMP,18-12-15,West Bengal,ULUBERIA,West Bengal State Pollution Control Board,RIRUO,17.0,44.0,131.0,NaN,"Inside Rampal Industries,ULUBERIA",NaN,2015-12-18
435736,SAMP,21-12-15,West Bengal,ULUBERIA,West Bengal State Pollution Control Board,RIRUO,18.0,45.0,140.0,NaN,"Inside Rampal Industries,ULUBERIA",NaN,2015-12-21
435737,SAMP,24-12-15,West Bengal,ULUBERIA,West Bengal State Pollution Control Board,RIRUO,22.0,50.0,143.0,NaN,"Inside Rampal Industries,ULUBERIA",NaN,2015-12-24
435738,SAMP,29-12-15,West Bengal,ULUBERIA,West Bengal State Pollution Control Board,RIRUO,20.0,46.0,171.0,NaN,"Inside Rampal Industries,ULUBERIA",NaN,2015-12-29
435739,NaN,NaN,andaman-and-nicobar-islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
435740,NaN,NaN,Lakshadweep,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
435741,NaN,NaN,Tripura,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
dataset.describe()

                 so2            no2           rspm            spm        pm2_5
count  401096.000000  419509.000000  395520.000000  198355.000000  9314.000000
mean       10.829414      25.809623     108.832784     220.783480    40.791467
std        11.177187      18.503086      74.872430     151.395457    30.832525
min         0.000000       0.000000       0.000000       0.000000     3.000000
25%         5.000000      14.000000      56.000000     111.000000    24.000000
50%         8.000000      22.000000      90.000000     187.000000    32.000000
75%        13.700000      32.200000     142.000000     296.000000    46.000000
max       909.000000     876.000000    6307.033333    3380.000000   504.000000

In [7]:
#Apart from the major pollutants, there are columns that refer to the respective states, agencies, sampling dates and the type.
#We will now have a look at what kind of data each of the columns consists of.
dataset.columns

Index(['stn_code', 'sampling_date', 'state', 'location', 'agency', 'type',
       'so2', 'no2', 'rspm', 'spm', 'location_monitoring_station', 'pm2_5',
       'date'],
      dtype='object')

In [8]:
dataset.info()
#Now, we can immediatly see that there are quite a few nulls in various columns, which need work.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 435742 entries, 0 to 435741
Data columns (total 13 columns):
stn_code                       291665 non-null object
sampling_date                  435739 non-null object
state                          435742 non-null object
location                       435739 non-null object
agency                         286261 non-null object
type                           430349 non-null object
so2                            401096 non-null float64
no2                            419509 non-null float64
rspm                           395520 non-null float64
spm                            198355 non-null float64
location_monitoring_station    408251 non-null object
pm2_5                          9314 non-null float64
date                           435735 non-null object
dtypes: float64(5), object(8)
memory usage: 43.2+ MB

In [9]:
dataset.head()

,stn_code,sampling_date,state,location,agency,type,so2,no2,rspm,spm,location_monitoring_station,pm2_5,date
0,150,February - M021990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",4.8,17.4,NaN,NaN,NaN,NaN,1990-02-01
1,151,February - M021990,Andhra Pradesh,Hyderabad,NaN,Industrial Area,3.1,7.0,NaN,NaN,NaN,NaN,1990-02-01
2,152,February - M021990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",6.2,28.5,NaN,NaN,NaN,NaN,1990-02-01
3,150,March - M031990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",6.3,14.7,NaN,NaN,NaN,NaN,1990-03-01
4,151,March - M031990,Andhra Pradesh,Hyderabad,NaN,Industrial Area,4.7,7.5,NaN,NaN,NaN,NaN,1990-03-01

In [10]:
#dropping columns stn_code, agency, sampling_date, location_monitoring_station.
#These columns contain lots of null values and hardly add much value to analysis.
dataset.drop(['stn_code','agency','sampling_date','location_monitoring_station'],axis=1,inplace=True)

In [11]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 435742 entries, 0 to 435741
Data columns (total 9 columns):
state       435742 non-null object
location    435739 non-null object
type        430349 non-null object
so2         401096 non-null float64
no2         419509 non-null float64
rspm        395520 non-null float64
spm         198355 non-null float64
pm2_5       9314 non-null float64
date        435735 non-null object
dtypes: float64(5), object(4)
memory usage: 29.9+ MB

In [12]:
dataset.head()

,state,location,type,so2,no2,rspm,spm,pm2_5,date
0,Andhra Pradesh,Hyderabad,"Residential, Rural and other Areas",4.8,17.4,NaN,NaN,NaN,1990-02-01
1,Andhra Pradesh,Hyderabad,Industrial Area,3.1,7.0,NaN,NaN,NaN,1990-02-01
2,Andhra Pradesh,Hyderabad,"Residential, Rural and other Areas",6.2,28.5,NaN,NaN,NaN,1990-02-01
3,Andhra Pradesh,Hyderabad,"Residential, Rural and other Areas",6.3,14.7,NaN,NaN,NaN,1990-03-01
4,Andhra Pradesh,Hyderabad,Industrial Area,4.7,7.5,NaN,NaN,NaN,1990-03-01

In [13]:
#Fixing the missing values firstly for all the pollutants.
#We will consider taking mean for all the pollutants columns and make use of the Imputer class
from sklearn.preprocessing import Imputer
imputer = Imputer(missing_values = 'NaN', strategy = 'mean', axis = 0)
imputer = imputer.fit(dataset.iloc[:, 3:8].values)
dataset.iloc[:,3:8] = imputer.transform(dataset.iloc[:, 3:8].values)

In [14]:
dataset.info()
dataset.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 435742 entries, 0 to 435741
Data columns (total 9 columns):
state       435742 non-null object
location    435739 non-null object
type        430349 non-null object
so2         435742 non-null float64
no2         435742 non-null float64
rspm        435742 non-null float64
spm         435742 non-null float64
pm2_5       435742 non-null float64
date        435735 non-null object
dtypes: float64(5), object(4)
memory usage: 29.9+ MB

,state,location,type,so2,no2,rspm,spm,pm2_5,date
0,Andhra Pradesh,Hyderabad,"Residential, Rural and other Areas",4.8,17.4,108.832784,220.78348,40.791467,1990-02-01
1,Andhra Pradesh,Hyderabad,Industrial Area,3.1,7.0,108.832784,220.78348,40.791467,1990-02-01
2,Andhra Pradesh,Hyderabad,"Residential, Rural and other Areas",6.2,28.5,108.832784,220.78348,40.791467,1990-02-01
3,Andhra Pradesh,Hyderabad,"Residential, Rural and other Areas",6.3,14.7,108.832784,220.78348,40.791467,1990-03-01
4,Andhra Pradesh,Hyderabad,Industrial Area,4.7,7.5,108.832784,220.78348,40.791467,1990-03-01